<!doctype html>
<html ng-app="plunker" >
<head>
  <meta charset="utf-8">
  <title>AngularJS Plunker</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css">
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/docs/assets/js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
  <script src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
 
    Hello {{name}}!
  
<p><a ng-click="showHide=!showHide">Toggle State: {{!!showHide}}</a></p>
<div ui-show="showHide">Show</div>
<div ui-hide="showHide">Hide</div>
<div ui-toggle="showHide">Toggle</div>

<input type="checkbox" ng-model="ch" />with children
<input type="checkbox" ng-model="ss" />single select
<choice-tree ng-model="myTree" withchildren="ch" class="dynatree-container"></choice-tree>
<hr />
$scope.myTree = {{myTree | json}}

</body>
</html>

